/* All elements selector */
* {

}

/* Tag name */
body {
    background: #eee;
}

/* Class */
.card {
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
}

.html {
    background: #dc4a24;
    color: white;
}

.css {
    background: #004ae0;
    color: white;
}

/* Id */
#header {
    background: #ddd;
    padding: 10px;
}

#header, .html, .css {
    margin-bottom: 10px;
}